body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#container{
    max-width: 700px;
    border: 2px solid #085f63; 
    border-radius: 1rem;
    margin: 4rem auto;
    background-color: #f1f1f1; 
    color: #272343; 
}   
h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 1rem;
}
#question{
    text-align: center; 
    font-size: 1.2rem; 
}
#answers{
    display: flex; 
    flex-direction: column;
    margin: 0 5rem;
    text-align: center;
}
.answer{
    text-align: center;
    background-color: #e3f6f5;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color:#272343; 
    font-weight: 700;

}
#nextQuestion{
    margin: 1rem 0 0 6rem;
    padding: 1rem;
    background-color: #e3f6f5;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color:#272343; 
}
#nextQuestion:hover{
    cursor: pointer;
    background-color: #a1bbf1;
}
button:hover {
    cursor: pointer;
    background-color: #a1bbf1;
}
#score{
    margin: 2rem 0 2rem 6rem;
    font-weight: 700;
}
@media only screen and (max-width: 768px) {
    #container {
        max-width: 80%;
    }
}
@media only screen and (max-width: 480px){
    #container {
        max-width: 90%;
    }
}